<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/header :: header}"/>
<body>
<div class="container">
    <div th:insert="~{fragments/bodyHeader :: bodyHeader}"></div>
    <h2 class="py-4">재고 상세 조회</h2>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>제품 명</th>
            <th>원자재 수</th>
            <th>입고일자</th>
            <th>유통기한</th>
            <th>제조회사</th>
            <th>수정</th>
            <th>삭제</th>
        </tr>
        </thead>
        <tbody>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.materialName}" ></td>
            <td th:text="${product.materialQuantity}"></td>
            <td th:text="${product.dateReceived}"></td> <!-- 입고일자 표시 -->
            <td th:text="${product.expiry}"></td> <!-- 유통기한 표시 -->
            <td th:text="${product.manufacturer}"></td> <!-- 생산회사 표시 -->
            <td>
                <a th:href="@{/product/{id}/edit(id=${product.id})}"
                   class="btn btn-warning" role="button">수정</a>
            </td><!-- 수정버튼 -->
            <td>
                <a th:href="@{/product/{id}/delete(id=${product.id})}"
                   class="btn btn-warning" role="button">삭제</a>
            </td><!-- 삭제버튼 -->
        </tr>
        </tbody>
    </table>
    <div th:insert="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>