<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/header :: header}"/>
<body>
<div class="container">
    <div th:insert="~{fragments/bodyHeader :: bodyHeader}"></div>
    <h2 class="py-4">재고 조회</h2>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>제품 명</th>
            <th>원자재 수</th>
            <th>상세조회</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry, iterStat : ${totalMaterialQuantities}">
            <td th:text="${iterStat.count}"></td>
            <td th:text="${entry.key}" ></td>
            <td th:text="${entry.value}"></td>
            <td>
                <a th:href="@{/product/{id}/detailed(id=${entry.key})}"
                   class="btn btn-warning" role="button">상세조회</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:insert="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>