<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/header :: header}"></head>
<body>
<div class="container">
    <div th:insert="~{fragments/bodyHeader :: bodyHeader}"></div>
    <h2 class="py-4">재고수정</h2>
    <form role="form" th:object="${form}" method="post" class="py-2">
        <input type="hidden" th:field="*{id}">
        <div class="my-2">
            <label class="form-label" th:for="*{materialName}">원재료</label>
            <select th:field="*{materialName}" class="form-control">
                <option value="">원재료를 선택하세요</option>
                <option th:each="materialName:${T(woodbreeze.wdb.domain.MaterialName).values()}" th:value="${materialName}" th:text="${materialName}"></option>
            </select>
        </div>
        <div class="my-2">
            <label class="form-label" th:for="*{materialQuantity}">수량</label>
            <input class="form-control" placeholder="수량을 입력하세요." th:field="*{materialQuantity} ">
        </div>
        <div class="my-2">
            <label class="form-label" th:for="*{dateReceived}">입고날짜</label>
            <p th:text="'현재 설정 된 입고일은 '+  ${form.dateReceived} +  '입니다.'"></p>
            <input type="date" class="form-control" placeholder="입고날짜를 입력하세요" th:field="*{dateReceived}" >
        </div>
        <div class="my-2">
        <label class="form-label" th:for="*{expiry}">유통기한</label>
        <input type="date" class="form-control" placeholder="유통기한을 입력하세요" th:field="*{expiry}">
        </div>
        <!-- 회사명 선택 -->
        <div class="my-2">
            <label class="form-label" th:for="*{manufacturer}">제조회사</label>
            <select th:field="*{manufacturer}" class="form-control">
                <option value="">제조회사를 선택하세요</option>
                <option th:each="companyName:${T(woodbreeze.wdb.domain.CompanyName).values()}" th:value="${companyName}" th:text="${companyName}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary btn-sm">수정</button>
        <button type="reset" class="btn btn-primary btn-sm">취소</button>
    </form>
    <div th:insert="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>